div#status {
	margin: 0 auto;
	font-size: 42px;
	text-align: center;
}

div#grid {
	margin: 0 auto;
	border: 1px solid;
}

div#grid div {
	background: radial-gradient(#333 1%, #fff 50%);
	float: left;
}

div#grid div:hover {
	background: radial-gradient(#457 6%, #fff 60%);
}

div#grid div:active {
	background: radial-gradient(#552 12%, #fff 70%);
}

button {
	font-size: 36px;
	margin: 10px auto;
	display: block;
}