div#status {
	margin: 0 auto;
	font-size: 42px;
	text-align: center;
}

div#grid {
	margin: 0 auto;
	border: 1px solid;
}

div#grid div {
	border: 1px solid #333;
	float: left;
	box-sizing: border-box;
}

div#grid div:hover {
	border: 3px solid rgb(197, 104, 42);
}

div#grid div:active {
	border: 5px solid rgb(197, 42, 42);
}

div#grid div.self {
	background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.5));
}

div#grid div.path {
	background-image: radial-gradient(hsla(0, 0%, 0%, 0.3) 5%, hsla(0, 0%, 0%, 0.5));
}

div#grid div.futures {
	background: radial-gradient(#77d07b 5%, #fff 40%);
}

button {
	font-size: 36px;
	margin: 10px auto;
	display: block;
}